################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
# VS / .NET
bin/
obj/
*.user
*.suo
*.pdb
*.cache
*.log
*.ide/
.vs/
_TestResults/
*.nupkg
*.snupkg
*.ldb
*.db
# EF / designer temp
edmxResourcesToEmbed/
Debug/
Release/
