################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BBS_APP/BBS_APP/obj/Debug/build.force
